<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^Pokeagenda/?$ Web/Controller/Agenda.controller.php [NC]
        RewriteRule ^Home/?$ Web/Controller/Home.controller.php [NC]
</IfModule>